html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    background-color: #212121;
    color: white;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #eee;
    border-bottom: 2px solid #aaa;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }
  
  nav a:hover {
    background-color: black;
    color: white;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
  main {
    padding: 0.5rem;
  }
  
  h1{
    text-align: center;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-link {
    color: white;
    padding: 1rem 2.5rem;
    background-color: black;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 15px;
  }
  
  .project-link:hover {
    background-color: #eee;
    color: black;
  }